body{
    background: linear-gradient(to right, #DFFBE6, #ffffff,#DFFBE6);
}
.bg{
    background-color: #aab9a0;
    background-position: center center;
    background-repeat: no-repeat;
    
} 