
body {
    background-image:url('fondobueno.png');
    background-repeat: no-repeat;
    background-size: 310% ;
}
.buscador{
    width: 350px;
    height: 45px;
    position: absolute;
    left: 150px;
    top: 25px;
    border-radius: 40px;
}
.logo{
    position:absolute;
    left: -20px;
    top: -50px;
    width: 200px;   
}

.menu{
      list-style: none;
      padding: 0;
      background: #75e7c5;
      width: 322em;
      height: 5em;
      margin: auto;
      position: fixed ;
      left: 0px;
      top: -1px;
}
.logox{
    list-style: none;
    padding: 0;
    background: #75e7c5;
    width: 32em;
    margin: auto;
    position: fixed ;
    left: 1px;
    
}
.menu li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
    display: block;   
    }
    .menu li{
    display: inline-block;
    text-align: center;   
    }
    .menu li a:hover{
        width: 20px; 
        height: 20px; 
        background: #75e7c5;
        
       
   }
    .username{
        font-family:Arial, Helvetica, sans-serif;
        position: absolute;
        top: 100px;
        left: 100px;
        

    }
#imagenperfil{
    position: absolute;
    top: 125px;
    left: 50px;
}
.amigos{
    position: absolute;
    top: 193px;
    left:100px ;
    font-family: Arial, Helvetica, sans-serif;
    
}
.guardado{
    position: absolute;
    top: 265px;
    left:100px ;
    font-family: Arial, Helvetica, sans-serif;  
    
}
.explorar{
    position: absolute;
    top: 330px;
    left:100px ;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
a{
    color: rgb(0, 0, 0);
}
#simbologuardar{
    position: absolute;
    top: 265px;
    left: 50px;
}
#simboloamigos{
    position: absolute;
    top: 195px;
    left: 50px;
}
#simboloexplorar{
    position: absolute;
    top: 330px;
    left: 50px;
}
.noticias{
    position: absolute;
    top: 400px;
    left:100px ;
    font-family: Arial, Helvetica, sans-serif;
    
}
#simbolonoticias{
    position: absolute;
    top: 400px;
    left: 50px;
}
.tabla{
    border-radius: 10px;
    position: fixed;
    top: 100px ;
    left: 450px ;
}
.tabla1{
    border-radius: 10px;
    position: absolute;
    top: 100px ;
    left: 550px ;
}
.imagendeejemplo{
    position: absolute;
    top: 290px ;
    left: 550px;
}
.primermensaje{
   position:absolute;
   top: 200px;
   left: 550px;
}

.segundomensaje{
    position: absolute;
    top: 600px;
    left: 550px;
}
.imagendeejemplo2{
    position: absolute;
    top: 700px;
    left: 550px;
}
.flotante{
    position: fixed;
    
}
.imagenquitillizas{
    position: absolute;
    top: 10000px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    position: absolute;
    top: 3000px;
    overflow: 30%;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;

}
.pie-pagina .grupo-1 .box h2{
    color: rgb(255, 255, 255);
    margin-bottom: 25px;
    font-size: 25px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
body {
    color: #404040;
    font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#fffffe, transparent);
    margin-bottom: 1.25rem;
    
}

.seccion-perfil-usuario .perfil-usuario-portada {
    display: block;
    position: relative;
    width: 47%;
    height: 17em;

    border-radius: 0 0 20px 20px;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: 0;
    border-radius: 8px;
    padding: 12px 25px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
    margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
    display: flex;
    width: 180px;
    height: 180px;
    align-items: center;
    justify-content: center;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    position: absolute;
    bottom: -20px;
    left: calc(50% - 90px);

}

.seccion-perfil-usuario .perfil-usuario-avatar img {
    width: 100%;
    position: absolute;
    border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
    position: absolute;
    left: -2px;
    top: -2px;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
    width: 70%;
    position: relative;
    max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
    display: block;
    width: 100%;
    font-size: 1.75em;
    margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
    color: #848484;
    font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
    margin-bottom: 1.25rem;
    text-align: center;
}

.seccion-perfil-usuario .lista-datos {
    width: 50%;
    list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
    padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
    margin-right: 1rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
    position: absolute;
    right: calc(0px - 50px - 1rem);
    top: 0;
    display: flex;
    flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
    border: 0;
    background-color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
    margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
    background-color: #5955FF ;
}

.seccion-perfil-usuario .boton-redes.twitter {
    background-color: #35E1BF;
}

.seccion-perfil-usuario .boton-redes.instagram {
    background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
    .seccion-perfil-usuario .lista-datos {
        width: 100%;
    }

    .seccion-perfil-usuario .perfil-usuario-portada,
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 95%;
    }

    .seccion-perfil-usuario .redes-sociales {
        position: relative;
        flex-direction: row;
        width: 100%;
        left: 0;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        justify-content: center
    }

    .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
        margin-left: 1rem;
        margin-top: 0;
    }
.img-galle {
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-items: center;
justify-content: center;
}
.g-img {
padding: 0 5px 5px;
} 
}